<template>
  <div class="modal fade" v-bind:class="isVisible ? 'in' : ''">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn close" v-on:click="closeModal">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>

        <div class="modal-body">
          <form-dynamic
            :schema="schema"
            :model="model"
          />
          <div class="clearfix">
            <button
              type="button"
              class="btn btn-default pull-right"
              v-on:click="creteItem"
            >
              Save
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
  import { mapSchemaToModel } from 'maven-util';
  import FormDynamic from '../../../components/FormDynamic';

  export default {
    /**
     * @example
      <EditRowModal
         v-if="Object.keys(schema).length && collection.length"
         :is-visible="edit"
         :closeModal="stopEdit"
         :call-to-action="updateItem"
         :data="collection[0]"
         :schema="schema"
      />
     */
    name: 'EditRowModal',
    components: {
      FormDynamic,
    },
    props: {
      isVisible: {
        type: Boolean,
        required: true,
      },
      data: {
        type: Object,
      },
      schema: {
        type: Object,
        required: true,
      },
      closeModal: {
        type: Function,
        required: true,
      },
      callToAction: {
        type: Function,
        required: true,
      },
    },
    computed: {
      model() {
        return mapSchemaToModel(this.schema, this.data);
      },
    },
    methods: {
      creteItem() {
        this.callToAction(this.model);
      },
    },
  };
</script>
