<template>
  <nav class="pagination-wrapper clearfix"
       aria-label="Page navigation">

    <Pagination
      class="pagination-margin-0 pull-right"
      :all-pages="pagination.allPages"
      :current-page="pagination.currentPage"
      :items-per-page="pagination.itemsPerPage"
      :items-per-page-options="pagination.itemsPerPageOptions"
      :change-page-action="pagination.actions.changePage"
      :change-items-per-page-action="pagination.actions.changeItemsPerPage"
      :keep-state-after-destroy="pagination.keepStateAfterDestroy"
    />

    <div class="margin-right-1em pull-right">
      <button
        class="btn btn-default"
        v-on:click="newClient">
        New Client
      </button>
    </div>

  </nav>
</template>

<script>
  import Pagination from '../../../components/Pagination';

  export default {
    /**
     * @example
     * <GridPagination/>
     */
    name: 'GridPagination',
    components: { Pagination },
    props: {
      newClient: {
        type: Function,
      },
      pagination: {
        type: Object,
      },
    },
  };
</script>

<style lang="scss" scoped>
  .pagination-wrapper {
    position: fixed;
    top: 51px;
    right: 1em;
    padding-top: 20px;
  }
</style>
