<template>
  <tr v-bind:class="!pristine && 'edited'">
    <td
      v-if = "data && schema"
      v-for = "(item, key) in schema"
      v-text = "data[key]"
      v-on:input = "captureInput"
      v-on:blur="save"
      v-bind:contenteditable = "schema[key].isEditable || isEditable"
      v-bind:data-key = key
      :key = "key"
    ></td>

    <td v-if="edit && !applyChanges" class="edit-row">
      <button
        v-on:click="() => edit(data)"
        class="btn btn-xs btn-link"
      >
        Edit
      </button>
    </td>

    <!--region About editable element-->
    <!--<td
      v-if="edit && pristine"
      class="edit-row"
    >
      <button
        class="btn btn-xs btn-link"
        v-on:click="edit"
      >
        Edit
      </button>
    </td>
    <td
      v-if="edit && !pristine"
      class="edit-row"
    >
      <button
        class="btn btn-xs btn-link"
        v-on:click="save"
      >
        Save
      </button>
    </td>-->
    <!--endregion-->
  </tr>
</template>

<script>
  export default {
    name: 'BodyElement',
    methods: {
      captureInput() {
        this.pristine = false;
      },
      save(e) {
        this.pristine = false;
        const updatedItem = Object.assign({}, this.data);

        updatedItem[e.target.getAttribute('data-key')] = e.target.innerText;

        if (this.applyChanges) {
          this.applyChanges(updatedItem, e);
        }
      },
    },
    props: {
      data: {
        type: Object,
        require: true,
      },
      schema: {
        type: Object,
        require: true,
      },
      edit: { type: Function },
      // Optional, basically about inline edit
      applyChanges: { type: Function },
    },
    data() {
      return {
        isEditable: typeof this.applyChanges === 'function',
        pristine: true,
      };
    },
  };
</script>

<style lang="scss" scoped>
  .edited {
    &::after {
      width: 10px;
      height: 10px;
      background: green;
      border: 0;
      content: " ";
      position: absolute;
      left: 0;
    }
  }
</style>
