<template>
  <div class="table-responsive" v-bind:style="calcOffsetTop()">

    <!-- Present pre-loader during API requests -->
    <PreloaderElement v-if="!data.length" />

    <table
      v-if="isReady"
      v-bind:class="classList"
      class="table"
    >
      <!-- TODO: make an element from this area -->
      <thead>
        <tr>
          <th v-for="(item, key) in schema || { /* props */ }" :key="key">
            {{ propToText(key) }}
          </th>
          <th v-if="!applyChanges">
            &nbsp;
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- TODO: put foreach and "tbody" tag in component element -->
        <body-element
          v-for="(item, index) in applyRange"
          :key="item.id"
          :data="item"
          :schema="schema"
          :index="index"
          :edit="startEdit"
          :apply-changes="applyChanges"
        />
      </tbody>
    </table>

  </div>
</template>

<script>
  import { propToText } from 'maven-util';
  import PreloaderElement from '../PreloaderElement';
  import BodyElement from './BodyElement';

  export default {
    /**
     * Data Grid Component
     * @example
     *
     * <DataGrid
     *   :range = "pagination.range"
     *   :data = "clients"
     *   :schema = "{username: schema.username} || schema"
     *   :offset-top = "'120px'"
     *   :start-edit = "startEdit"
     *   :class-list = "'table-hover'"
     * />
     *
     * props: {
     *   range: {
     *     from: Number,
     *     to: Number,
     *   }
     *   data: [{
     *     _id: "5b0bc9c09adbbd08ac201a6b",
     *     username: "Test asd asd",
     *     mobileNumber: "44444444",
     *     test: [],
     *     __v: 0,
     *     createdAt: "2018-05-28T09:20:00.953Z",
     *     OtherNewProp: false
     *   }],
     *   schema: {
     *     username: {
     *       type: String,
     *       required: true,
     *       formType: formTypes.InputText,
     *     },
     *     mobileNumber: {
     *       type: String,
     *       minlength: [6, 'Too short'],
     *       maxlength: [12, 'Too long'],
     *       formType: formTypes.InputNumber,
     *     },
     *     OtherNewProp: {
     *       type: Boolean,
     *       default: false,
     *       formType: formTypes.InputCheckbox,
     *     },
     *   }
     * }
     */
    name: 'DataGrid',
    components: {
      PreloaderElement,
      BodyElement,
    },
    props: {
      // The range for pagination visualization | default is first page if they are
      range: 0,
      // Data for visualization
      data: { type: Array, require: true },
      // Schema
      schema: { type: Object, require: true },
      // It's about calculation of grid scroll area, '120px' cloud depends from lot of thinks.
      offsetTop: { type: String },
      // Call to action about row edit button | assigned to {BodyElement}
      startEdit: { type: Function },
      // Optional, basically about inline edit | assigned to {BodyElement}
      applyChanges: { type: Function },
      // Bootstrap options: table-hover, table-bordered, table-striped .etc
      classList: {
        type: String,
        default: '',
      },
    },
    methods: {
      /**
       * @param [offsetTop] {string} - Expect offset top of table wrapper '120px',
       * could be dynamic but this will deepens to heavy on ui, css and position
       * @returns {{height: string}}
       */
      calcOffsetTop(offsetTop) {
        const offset = offsetTop || this.offsetTop;

        return {
          height: offset ? `calc(100vh - ${offset})` : 'auto',
        };
      },
      propToText,
    },
    computed: {
      /**
       * Appy reange from provided data
       * @returns {[]|false}
       */
      applyRange() {
        if (this.range.from === false) return this.data;

        const { from, to } = this.range;

        return this.data.filter((item, key) => {
          if (key >= from && key < to) {
            return item;
          }

          return false;
        });
      },
      /**
       * Have to check the conditions in order to allow render
       * @returns {default.methods.data|default.methods.schema|*|number}
       */
      isReady() {
        const { data, schema } = this;

        return data && schema && data.length && Object.keys(schema).length;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .table-responsive {
    overflow: auto;
    position: relative;
  }
</style>
