<template>
  <form v-if="this.isReady()">

    <!--region not checkbox, radio and select-->
    <div
      class="form-group form-box"
      v-for="(item, key) in schema"
      v-if="
        item.formType !== 'checkbox' &&
        item.formType !== 'radio' &&
        item.formType !== 'select'
      "
      :key = "key"
    >
      <label v-bind:for="`${key}`">
        {{ propToText(key) }}
      </label>
      <input
        class="form-control"
        v-bind:id="`${key}`"
        v-bind:type="item.formType"
        v-model="model[key]"
        v-on:input = "onInput"
        v-on:blur = "onBlur"
      />
      <span
        v-for="(error, key) in errors"
        v-if="item[error]"
        class="error-message"
        :class="error"
        :key = "key"
      >
        {{ item[error][1] || error }}
      </span>
    </div>
    <!--endregion-->


    <!--region select-->
    <div
      class="form-group form-box"
      v-for="(item, key) in schema"
      v-if="item.formType === 'select'"
      :key = "key"
    >
      <label v-bind:for="`${key}`">
        {{ propToText(key) }}
      </label>
      <select
        v-model="model[key]"
      >
        <option
          v-for="opt in item.options"
          v-bind:value="opt.val"
        >
          {{ opt.text }}
        </option>
      </select>
      <span
        v-for="(error, key) in errors"
        v-if="item[error]"
        class="error-message"
        :class="error"
        :key = "key"
      >
        {{ item[error][1] || error }}
      </span>
    </div>
    <!--endregion-->

    <!--region checkbox-->
    <div
      class="checkbox form-box"
      v-for="(item, key) in schema"
      v-if="item.formType === 'checkbox'"
      :key = "key"
    >
      <label>
        <input
          v-bind:id="`${key}`"
          v-bind:type="item.formType"
          v-model="model[key]"
          v-on:input = "onInput"
          v-on:blur = "onBlur"
        />{{ propToText(key) }}
      </label>
    </div>
    <!--endregion-->

  </form>
</template>

<style lang="scss" scoped>
  .form-box {
    .error-message {
      display: none;
    }


    &.error-minlength .minlength {
      display: block;
    }

    &.error-maxlength .maxlength {
      display: block;
    }

    &.error-required .required {
      display: block;
    }
  }
</style>

<script>
  import { propToText } from 'maven-util';

  const removeAllErrors = el =>
    el.classList.remove('error-minlength', 'error-required', 'error-maxlength');

  const resetValidation = $el =>
    $el.querySelectorAll('.form-box').forEach(item => removeAllErrors(item));

  const validate = ({ target }, schema) => {
    const { id, value } = target;
    const { minlength, maxlength, required } = schema[id];
    const $element = target.closest('div');
    const error = (classError) => {
      $element.classList.add(classError);
    };

    removeAllErrors($element);

    if (required && !value) {
      error('error-required');
    }

    if (minlength) {
      if (String(value).length < minlength[0]) {
        // Error
        error('error-minlength');
      }
    }

    if (maxlength) {
      if (String(value).length > maxlength[0]) {
        // Error
        error('error-maxlength');
      }
    }
  };

  export default {
    name: 'FromDynamic',
    props: {
      schema: {
        type: Object,
        required: true,
      },
      model: {
        type: Object,
        required: true,
      },
      input: {
        type: Function,
      },
      blur: {
        type: Function,
      },
      validator: {
        type: Function,
      },
    },
    methods: {
      propToText,
      isReady() {
        if (this.$el) resetValidation(this.$el);

        return this.schema;
      },
      onBlur(...args) {
        if (this.validator) {
          this.validator(...args, this.schema);
        } else {
          validate(...args, this.schema);
        }

        if (this.blur) this.blur(...args, this);
      },
      onInput(...args) {
        if (this.input) this.input(...args, this);
      },
    },
    data() {
      return {
        errors: ['minlength', 'required', 'maxlength'],
      };
    },
  };
</script>
