<template>
  <div>
    <h1 class="page-title">Dashboard</h1>
    <div>
      <p>Content</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Dashboard',
    components: {},
  };
</script>
