<template>
  <header class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <router-link
        :to="'/'"
        :class="logoClassName"
        :title="logoHtmlText.replace('<br>', '')"
        v-html="logoHtmlText"
      />

      <button type="button" class="btn btn-default navbar-btn pull-right">
        <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
      </button>
    </div>
  </header>
</template>

<script>
  export default {
    name: 'Header',
    props: [
      'logoClassName',
      'logoHtmlText',
    ],
  };
</script>

<style lang="scss" scoped>
  // Overwrite/Extend Bootstrap 3
  .navbar {
    overflow: hidden;
    border-bottom: 1px solid #9e9e9e;
    //---
    z-index: 2;
    background-color: #f5f5f5;
  }
  // Overwrite/Extend Bootstrap 3
  .navbar-fixed-top {
    .navbar-brand {
      width: 105px;
      height: 40px;
      padding: 10px;
      display: block;
      position: absolute;

      background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/ce/Vue.svg);
      background-repeat: no-repeat;
      background-position: 70px 10px;
      background-size: auto 30px;

      font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 100;
      font-size: 0.9em;
      letter-spacing: 0.05em;
      color: #4b4b4b;
      text-decoration: none;
      line-height: 1.1em;
      text-shadow: 0 0 1px #808080;

      small {
        font-weight: bold;
        text-shadow: none;
        color: #818181;
      }
    }
  }
</style>
