<template>
  <div>
    <!--<h4 :class="styles.title">
      Navigation
    </h4>-->
    <h5 :class="styles.title">
      Clients
    </h5>
    <ul class="nav nav-sidebar">
      <li v-for="item in links"
          v-bind:class="isActiveLink(item.path) ? 'active' : ''">
        <router-link
          :to="item.path"
          v-text="item.name"
          v-if="!item.abstract"
          class="btn btn-link"
        />

        <router-link
          v-if="item.children && item.children.length"
          v-for="subitem in item.children"
          :to="`${item.path}/${subitem.path}`"
          v-text="subitem.name"
          class="btn btn-link"
        />

      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'Navigation',
    props: {
      links: {
        type: Array,
        require: true,
      },
      styles: {
        type: Object,
        require: true,
      },
    },
    methods: {
      isActiveLink(hash) {
        return window.location.hash.replace('#', '') === hash;
      },
    },
  };
</script>

<style lang="scss" scoped>
  @import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
  @import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";
  @import "~bootstrap-sass/assets/stylesheets/bootstrap/buttons";

  $sidebarWidth: 232px; // TODO: make it shared
  $sidebarPaddingLeft: 10px;
  $sidebarPaddingTop: 5px;
  $navigation-height: 52px;
  $navigation-border-color: gray;
  $border-radius-base:        0 !default;
  $border-radius-large:       0 !default;
  $border-radius-small:       0 !default;

  .sidebar {
    $localSpace: $grid-gutter-width/4;

    overflow: hidden;
    border-bottom: 1px solid #9e9e9e;
    z-index: 2;
    background-color: #f5f5f5;
    // extend main
    display: block;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: $navigation-height;
    padding-bottom: $navigation-height;
    position: fixed;
    ///
    border: solid $navigation-border-color;
    border-width: 0 1px 0;
    width: 0;
    padding: 5px $sidebarPaddingLeft;
    display: none;

    @media (min-width: $screen-xs-max) and (min-width: $screen-sm-max) {
      display: block;
      width: $sidebarWidth;
    }

    .sidebar-title {
      margin: 0;
      padding: $localSpace*1.8 0;
    }

    hr {
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        list-style: none;

        /*a {
          text-decoration: none;
          position: relative;
          display: block;
          margin: 0;
          padding: $localSpace*0.4 0;

          &:hover {
            text-decoration: underline;
          }
        }*/
      }
    }

    .btn {
      display: block;
      text-align: left;
      text-decoration: none;

      &.router-link-exact-active {
        @extend .btn-primary;
      }
    }
  }
</style>
