<template>
  <div>
    <ul
      v-if="pages > 1"
      class="pagination pull-right"
    >
      <li
        class="prev"
        v-on:click="prev">
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li
        v-for="item in pages"
        v-on:click="changePage"
        :class="currentPage == item && 'active'"
      >
        <a href="#" v-text="item"></a>
      </li>
      <li
        class="next"
        v-on:click="next">
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>

    <form class="margin-right-1em pull-right">
      <select
        v-on:change="changeItemsPerPage"
        class="form-control pull-right"
        v-bind:value="itemsPerPage"
      >
        <option :value="'all'">All</option>
        <option
          v-for="num in itemsPerPageOptions"
          v-bind:value="num"
          v-bind:class="num >= allPages ? 'hidden' : ''"
        >
          {{ num }}
        </option>
      </select>
    </form>
  </div>
</template>

<script>
  export default {
    /**
     * @example
     * <Pagination
     *  class="pagination-margin-0 pull-right"
     *  :all-pages="pagination.allPages"
     *  :current-page="pagination.currentPage"
     *  :items-per-page="pagination.itemsPerPage"
     *  :items-per-page-options="pagination.itemsPerPageOptions"
     *  :change-page-action="pagination.actions.changePage"
     *  :change-items-per-page-action="pagination.actions.changeItemsPerPage"
     *  :keep-state-after-destroy="pagination.keepStateAfterDestroy"
     * />
     */
    name: 'Pagination',
    props: {
      // Action that have to be "dispatchet" on page change
      changePageAction: {
        type: String,
        required: true,
      },
      // Action that have to be "dispatchet" on select change
      changeItemsPerPageAction: {
        type: String,
        required: true,
      },
      itemsPerPageOptions: {},
      allPages: {
        required: true,
      },
      itemsPerPage: {
        required: true,
      },
      currentPage: {
        required: true,
      },
      keepStateAfterDestroy: {
        type: Boolean,
      },
    },
    computed: {
      pages() {
        return Math.ceil((this.allPages / this.itemsPerPage || 1), 0);
      },
      from() {
        return (this.currentPage - 1) * this.itemsPerPage;
      },
      to() {
        return this.currentPage * this.itemsPerPage;
      },
    },
    methods: {
      next(event) {
        const increased = this.currentPage + 1;

        if (increased <= this.pages) {
          this.changePage(event, increased);
        }
      },
      prev(event) {
        const decrease = this.currentPage - 1;

        if (decrease > 0) {
          this.changePage(event, decrease);
        }
      },
      changePage(event, number) {
        if (event !== undefined) {
          event.preventDefault();
        }
        const pageNumber = number || window.parseInt(event.target.text);

        this.setStyles(pageNumber);
        this.$store.dispatch(this.changePageAction, pageNumber);
      },
      changeItemsPerPage(event) {
        this.$store.dispatch(this.changeItemsPerPageAction, event.target.value);
      },
      setStyles(pageNumber) {
        const $prev = this.$el.querySelector('.prev');
        const $next = this.$el.querySelector('.next');

        // In case that the pagination is hidden
        if (!$prev && !$next) return;

        if (pageNumber === 1) {
          $prev.classList.add('disabled');
          $next.classList.remove('disabled');
        } else if (pageNumber === this.pages) {
          $next.classList.add('disabled');
          $prev.classList.remove('disabled');
        } else {
          $prev.classList.remove('disabled');
          $next.classList.remove('disabled');
        }
      },
    },
    destroyed() {
      if (!this.keepStateAfterDestroy) {
        this.$store.dispatch(this.changePageAction, 1);
      }
    },
    mounted() {
      this.changePage(undefined, this.currentPage);
    },
  };
</script>

<style lang="scss" scoped>
  .pagination-margin-0 .pagination {
    margin: 0;
  }
</style>
