<template>
  <div class="pre-loader">
    <i></i><i></i><i></i><i></i><i></i>
  </div>
</template>

<script>
  export default {
    name: 'PreloaderElement',
  };
</script>

<style lang="scss" scoped>
  @import "../../static/css/loader";

  .pre-loader {
    @extend #loader;
    margin-top: 1em;
    margin-left: 0;

    i {
      border: 1px solid #3467be;
      background: #548dbb;
    }
  }
</style>
