<template>
  <div>
    <layout-bootstap v-if="layoutType === 'bootstrap'" :navigation-data="routes" />
    <!-- TODO: finalize it when is necessary, container .etc -->
    <layout-pure v-if="layoutType === 'pure'" v-bind:navigation-data="[routes]" />

    <!--<select @change="changeLayout">
      <option v-for="items in layoutsCollection">
        {{items}}
      </option>
    </select>-->
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import store from './_store';

  const STORE_KEY = '$_layout';
  // Add loader in case that the child component with layout is not loaded
  const addPreloader = () => document.body.classList.add('loading');
  const removePreload = (module) => {
    document.body.classList.remove('loading');
    return module.default;
  };

  addPreloader();
  export default {
    name: 'LayoutModule',
    components: {
      LayoutBootstap: () =>
        import('./_components/Layout.bootstrap').then(removePreload, err => err),
      // TODO: finalize pure layout
      LayoutPure: () =>
        import('./_components/Layout.pure').then(removePreload, err => err),
    },
    computed: {
      ...mapGetters({
        routes: '$_routes/getRoutes',
        layoutType: `${STORE_KEY}/layoutType`,
        layoutsCollection: `${STORE_KEY}/layoutTypes`,
      }),
    },
    methods: {
      changeLayout(e) {
        const { value } = e.target;
        this.$store.dispatch('$_layout/changeLayoutType', value);
      },
    },
    created() {
      this.$store.registerModule(STORE_KEY, store);
    },
    mounted() {
      this.$store.dispatch('$_layout/changeLayoutType', this.layoutsCollection[0]);
    },
  };
</script>

<style></style>
