<template>
  <div>
    <Header />
    <Navigation :links="navigationData"/>
    <router-view />
    <Footer />
  </div>
</template>

<script>
  import Header from '../../../components/Header';
  import Footer from '../../../components/Footer';
  import Navigation from '../../../components/Navigation';

  export default {
    name: 'LayoutPure',
    components: { Footer, Header, Navigation },
    props: {
      navigationData: {
        type: Object,
        require: true,
      },
    },
  };
</script>
<style lang="scss" scoped></style>
