<template>
  <div class="layout">
    <Header
      logo-html-text="Practice<br> <small>MEVN</small>"
      logo-class-name="navbar-brand"
    />
    <Navigation
      class="sidebar"
      :styles="{
        title: 'sidebar-title'
      }"
      :links="navigationData"
    />
    <router-view class="container-fluid main" />
  </div>
</template>

<style lang="scss" scoped>
  @import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
  @import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

  $sidebarWidth: 232px; // TODO: make it shared
  $sidebarPaddingLeft: 10px;
  $sidebarPaddingTop: 5px;
  $navigation-height: 52px;
  $navigation-border-color: gray;
  $border-radius-base:        0 !default;
  $border-radius-large:       0 !default;
  $border-radius-small:       0 !default;


  .main {
    display: block;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    margin-top: $navigation-height;
    padding-bottom: $navigation-height;
    position: fixed;
    ////---------
    left: auto;
    right: 0;
    width: 100%;
    background: white;
    z-index: 1;
    overflow: hidden;

    @media (min-width: $screen-xs-max) and (min-width: $screen-sm-max) {
      width: calc(100% - #{$sidebarWidth + $sidebarPaddingLeft} - 1px); // Add 1 pixel because
    }
  }
</style>

<script>
  import Header from '../../../components/Header';
  import Footer from '../../../components/Footer';
  import Navigation from '../../../components/Navigation';

  export default {
    name: 'LayoutBootstap',
    components: { Footer, Header, Navigation },
    props: {
      navigationData: {
        type: Array,
        require: true,
      },
    },
  };
</script>
