<template>
  <div>
    <grid-pagination
      v-if="collection.length"
      :new-client="startCreate"
      :pagination="pagination"
    />
    <hr>
    <data-grid
      :range = "pagination.range"
      :data = "collection"
      :schema = "schema"
      :offset-top = "'120px'"
      :start-edit = "startEdit"
      :class-list = "'table-hover'"
    />
    <!--:apply-changes="updateItem" -> regarding future implementation of inline edit -->
    <new-row-modal
      v-if="Object.keys(schema).length && collection.length"
      :is-visible="create"
      :closeModal="stopCreate"
      :call-to-action="createItem"
      :data="{}"
      :schema="schema"
    />
    <edit-row-modal
      v-if="Object.keys(schema).length && collection.length"
      :is-visible="Object.keys(edit).length ? true : false"
      :closeModal="stopEdit"
      :call-to-action="updateItem"
      :data="edit"
      :schema="schema"
    />
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { BaseModule } from 'maven-util';
  import store from './_store';
  import { STORE_KEY } from './constants';

  import DataGrid from '../../components/DataGrid';
  import GridPagination from './_components/GridPagination';
  import NewRowModal from './_components/NewRowModal';
  import EditRowModal from './_components/EditRowModal';

  export default {
    name: 'ClientsList',
    components: {
      DataGrid,
      GridPagination,
      NewRowModal,
      EditRowModal,
    },
    computed: {
      ...mapGetters({
        edit: `${STORE_KEY}/edit`,
        create: `${STORE_KEY}/create`,
        collection: `${STORE_KEY}/collection`,
        filteredCollection: `${STORE_KEY}/filteredCollection`,
        schema: `${STORE_KEY}/schema`,
        pagination: `${STORE_KEY}/pagination`,
      }),
    },
    methods: {
      createItem(data) {
        this.$store.dispatch(`${STORE_KEY}/create`, data);
      },
      updateItem(data) {
        this.$store.dispatch(`${STORE_KEY}/update`, data);
      },
      editItem() {
        this.$store.dispatch(`${STORE_KEY}/edit`);
      },
      deleteItem() {
        this.$store.dispatch(`${STORE_KEY}/deleteit`);
      },
      startEdit(data) {
        this.$store.dispatch(`${STORE_KEY}/startEdit`, data);
      },
      stopEdit() {
        this.$store.dispatch(`${STORE_KEY}/stopEdit`);
      },
      startCreate() {
        this.$store.dispatch(`${STORE_KEY}/startCreate`);
      },
      stopCreate() {
        this.$store.dispatch(`${STORE_KEY}/stopCreate`);
      },
    },
    data() {
      return {
        store,
        STORE_KEY,
      };
    },
    mounted() {
      this.$store.dispatch(`${STORE_KEY}/getCollection`);
      this.$store.dispatch(`${STORE_KEY}/getSchema`);
      this.$store.dispatch(`${STORE_KEY}/stopEdit`);
      this.$store.dispatch(`${STORE_KEY}/stopCreate`);

      /*
      // Experiment
      setInterval(() => {
        console.log('PP', this.store);
        // state.pagination.currentPage
        this.$store.unregisterModule(this.STORE_KEY);

        // this.store.state.pagination.currentPage = 2;
        this.$store.registerModule(
          this.STORE_KEY,
          this.store,
        );
      }, 2000);
      */
    },
    ...BaseModule,
  };
</script>
<!--
  <style lang="scss" scoped> TODO: put back scoped when is possible
-->

<style lang="scss">
  @import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
  @import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

  .modal {
    $sidebarWidth: 210px + 22px; // + 10px * 2 about padding and 1px * 2 borders of Sidebar TODO: Use the shared one, make it shared as well
    background: rgba(0,0,0, 0.7);

    &.in {
      display: block;
    }

    @media (min-width: $screen-xs-max) and (min-width: $screen-sm-max) {
      margin: 0 0 0 $sidebarWidth;
    }

    .modal-dialog {
      margin-top: 10%;
    }

    .btn {
      &.close {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
      }
    }

    label {
      font-weight: initial;
    }
  }
</style>
