@import "../../static/css/loader"
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss"
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins"
@import "~bootstrap-sass/assets/stylesheets/bootstrap/tables"

#loader
  display: none

body
  padding: 0
  margin: 0
  overflow: hidden
  font-family: $font-family-sans-serif
  font-weight: 200
  letter-spacing: 0.05em


  &.loading
    #loader
      display: block
    #app
      display: none

h1, h2, h3, h4
  font-weight: 400
  letter-spacing: 0.05em
  color: #4b4b4b

h1
  font-size: 1.8em

.margin-right-1em
  margin-right: 1em

.table
  tr
    &:hover
      @extend .info
      td[contenteditable="true"]:hover
        background: white
        color: red
    &:active
      @extend .danger
    input:focus
      @extend .danger
    *:focus
      outline: 0 none

  th
    font-weight: initial

  .edit-row
    padding: 0 !important
    margin: 0 !important

    button
      display: inline-block
      outline: 0 none
      position: relative
      width: 100%
      padding: 0.6em 0.5em 0.5em

  &.table-bordered
    th
      text-align: center
