<template>
  <layout-module id="app" />
</template>

<script>
  import './assets/global.sass';

  export default {
    name: 'practice-mevn',
    components: {
      LayoutModule: () => import('./modules/layout'),
    },
  };
</script>
